.home {
  min-height: calc(100vh - 88px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 20%;
}

.accordion {
  width: 100%;
  margin: 1rem 0;
}

.accordion-button {
  background: #292b2c !important;
  color: white !important;
}

.accordion-body {
  background: #484c4e !important;
  color: white !important;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.dateWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}

.dateWrapper span {
  font-weight: bold;
}

.imageVSWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.teamImage {
  height: 60px;
  border-radius: 0.5rem;
}

.matchInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.matchDesc span {
  font-weight: bold;
}

.imageVSWrapper span {
  font-size: 24px;
  font-weight: bold;
}

.teamImageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
